.tms-content {
    padding: 20px 44px 24px;
}

.tms-space-between {
    display: flex;
    justify-content: space-between;
}

.tms-table {

    &.operate {
        display: flex;
    }

    .avatar {
        height: 18px;
        width: 18px;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        margin-top: 0;
        margin-right: 10px;

        img {
            height: 100%;
            width: 100%;
            border-radius: 50%;
        }

        span {
            margin-left: 20px;
        }
    }
}

.tms-text {

    &.explain {
        font-size: 13px;
        font-weight: 400;
        color: #646a73;
        margin-top: 4px;

        a {
            color: #3370ff;
        }
    }

    &.label {
        position: relative;
        height: 16px;
        line-height: 16px;
        font-size: 16px;
        font-weight: 500;
        color: #18263c;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            left: -20px;
            border-left: 4px solid #3370ff;
            height: 16px;
        }
    }
}